<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
	<hibernate-configuration>
		<session-factory>
					<!--for including JDBC Driver  -->	
			<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
					<!-- to connect to the Schema/DB -->
			<property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
					<!-- username of the database -->
			<property name="connection.username">root</property>
					<!-- password of the database -->
			<property name="connection.password">12345678</property>
					<!-- to choose which SQL language is been used -->
			<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
					<!-- to create the table if table does not exist in the schema -->
					<!-- if we had used create then it would create a new table each time 
					hence deleting whole table that was created previously-->
			<property name="hbm2ddl.auto">update</property>
			<!-- Enable the logging of all the generated SQL statements to the console -->
			<property name="show_sql">true</property>
			<!-- Format the generated SQL statement to make it more readable, but takes up more screen space. -->
			<property name="format_sql">true</property>
			<!-- Hibernate will put comments inside all generated SQL statements to hint what’s the generated SQL trying to do -->
			<!-- <property name="use_sql_comments">true</property> -->
			
			<mapping class="com.entities.Note"/>
		</session-factory>
	</hibernate-configuration>